---
import { Icon } from 'astro-icon';
import PortfolioItem from './PortfolioItem.astro';

import image1 from '@images/frontend-dev-working-2.png';
import image2 from '@images/frontend-dev-working-3.png';
---

<section
	id="portfolio"
	class="[ portfolio ] [ section flow ]"
	style="--flow-spacer: var(--space-lg)"
>
	<div
		class="flex-group"
		style="--flex-align: end; --flex-justify: space-between"
	>
		<div>
			<h2 class="caption">Portfolio</h2>
			<p class="heading-2 fs-700">Take a look at what I do 👨‍💻</p>
		</div>

		<!-- TODO: portfolio page -->
		<!-- <a href="#" class="btn" style="--btn-responsive-width: auto">Open Portfolio</a> -->
	</div>

	<div id="reel" class="reel">
		<PortfolioItem
			id="project-1"
			title="Awesome Project 🔑"
			tags={['hello']}
			image={image1}
			demoLink="#"
			codeLink="#2"
		>
			<slot>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo quidem
					explicabo accusantium dolores ipsam minus quisquam excepturi quasi
					voluptate labore consectetur commodi repudiandae qui, consequuntur
					dolorem assumenda, doloremque, in unde!
				</p>
			</slot>
		</PortfolioItem>
		<PortfolioItem
			id="project-2"
			title="Hello"
			image={image2}
			tags={['react', 'scss']}
			demoLink="hey"
			codeLink="yo"
		>
			<slot>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo quidem
					explicabo accusantium dolores ipsam minus quisquam excepturi quasi
					voluptate labore consectetur commodi repudiandae qui, consequuntur
					dolorem assumenda, doloremque, in unde!
				</p>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo quidem
					explicabo
				</p>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo quidem
					explicabo
				</p>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo quidem
					explicabo
				</p>
			</slot>
		</PortfolioItem>
	</div>

	<div
		class="flex-group"
		style="--flex-justify: center; --btn-responsive-width: fit-content"
	>
		<button id="back" class="btn p-xs" data-btn-variant="secondary" disabled>
			<Icon class="svg-icon" name="chevron-left" />
		</button>
		<button id="next" class="btn p-xs" data-btn-variant="secondary">
			<Icon class="svg-icon" name="chevron-right" />
		</button>
	</div>
</section>

<script>
	const getReelPositions = (reelContainer: HTMLElement | null): number[] => {
		if (!reelContainer) return [];
		return Array.from(reelContainer.children).map(
			(el) => el.getBoundingClientRect().left
		);
	};

	const updateButtonState = (button: HTMLElement, condition: boolean) => {
		if (condition) {
			button.removeAttribute('disabled');
		} else {
			button.setAttribute('disabled', '');
		}
	};

	const reel = () => {
		const reelContainer = document.getElementById('reel');
		const backBtn = document.getElementById('back');
		const nextBtn = document.getElementById('next');

		if (!reelContainer || !backBtn || !nextBtn) return;

		let current = 0;
		const max = Array.from(reelContainer.children).length - 1;

		const handleButtonClick = (direction: 'back' | 'next') => {
			if (direction === 'back') {
				current = Math.max(0, current - 1);
			} else if (direction === 'next') {
				current = Math.min(max, current + 1);
			}

			const reelPositions = getReelPositions(reelContainer);
			reelContainer.scrollTo({
				left: reelPositions[current],
				behavior: 'smooth',
			});

			updateButtonState(backBtn, current > 0);
			updateButtonState(nextBtn, current < max);
		};

		backBtn.addEventListener('click', () => handleButtonClick('back'));
		nextBtn.addEventListener('click', () => handleButtonClick('next'));
	};

	// const setImageScrollContainersHeight = () => {
	// 	const imageScrollHover: NodeListOf<HTMLElement> = document.querySelectorAll(
	// 		'.image-scroll-hover'
	// 	);
	// 	if (!imageScrollHover) return;

	// 	Array.from(imageScrollHover).forEach((div) => {
	// 		const img = div.firstElementChild;

	// 		if (!img || !(img instanceof HTMLElement)) return;

	// 		div.style.height = img.offsetHeight + 'px';
	// 	});
	// };

	reel();
	// setImageScrollContainersHeight();
</script>
