@use "@styles/abstracts" as *;

.image-scroll-hover {
  --scroll-duration: 7s;

  position: relative;

  aspect-ratio: 16 / 9;
  overflow-y: hidden;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    transition: object-position var(--scroll-duration) ease;
  }

  &:hover > img {
    object-position: bottom center;
    transition: object-position var(--scroll-duration) ease;
  }
}
