---
import Layout from '@layouts/Layout.astro';

import TheHero from '@components/TheHero/TheHero.astro';
import TheAbout from '@components/TheAbout/TheAbout.astro';
import TheValues from '@components/TheValues/TheValues.astro';
import ThePortfolio from '@components/ThePortfolio/ThePortfolio.astro';
import TheContact from '@components/TheContact/TheContact.astro';
---

<Layout title="Ivan Rodrigues - Home">
	<main class="wrapper">
		<TheHero />
		<TheAbout />
		<TheValues />
		<ThePortfolio />
		<TheContact />
	</main>
</Layout>
