---
import Layout from '../layouts/Layout.astro';
import TheHero from '@/components/TheHero.astro';
import TheAbout from '@/components/TheAbout.astro';
import TheValues from '@/components/TheValues.astro';
import ThePortfolio from '@/components/ThePortfolio.astro';
import TheContact from '@/components/TheContact.astro';
---

<Layout title="Ivan Rodrigues - Home">
	<main class="wrapper">
		<TheHero />
		<TheAbout />
		<TheValues />
		<!-- <ThePortfolio /> -->
		<ThePortfolio />
		<TheContact />
	</main>
</Layout>
