---
// Libraries and Packages
import {Image} from "astro:assets";

// Internal Components and Assets
import aboutImage from "@images/frontend-dev-working-4-tinted-removebg-preview-cropped.png";

// Styles
import "./TheAbout.scss";
---

<section id="about" class="[ about ] [ section ]">
    <div class="[ about__container ] [ even-columns ]">
        <Image
            class="[ image-background ] [ inline-center ]"
            src={aboutImage}
            alt=""
            format="png"
            data-aos="fade-left"
            data-aos-offset="250"
            data-aos-duration="2000"
        />
        <div class="flow" data-aos="fade-right" data-aos-offset="150">
            <div>
                <h2 class="caption">About</h2>
                <p class="heading-2">
                    Front-end engineer based in Brussels, Belgium&nbsp;📍
                </p>
            </div>
            <p>
                I possess a range of skills in HTML, CSS, JavaScript Frameworks
                (i.e., Angular, Vue, React), Tailwind, Git, Docker, and more. I
                have now a few years of experience in designing and working on
                responsive websites and web applications. My goal is to fulfill
                your needs efficiently while contributing to a better and more
                accessible web for all. As a team player, I enjoy collaborating
                with cross-functional teams to deliver successful digital
                solutions.
            </p>
            <a
                href="/cv-ivan-rodrigues.pdf"
                class="button mt-lg"
                target="_blank">Download CV</a
            >
        </div>
    </div>
</section>
