@use "@styles/abstracts" as *;

.about {
    position: relative;
}

.about__container {
    --column-gap: var(--space-xxl);

    > img {
        --grayscale: 0;
        --opacity: 0.05;

        @media (width <= $breakpoint-medium) {
            order: 1;
        }
    }
}
