@use '@styles/abstracts' as *;

.about {
  --column-gap: var(--space-xxl);

  position: relative;
  z-index: 1;

  & .about__container {
    row-gap: var(--space-xl);

    @media (width <= $breakpoint-medium) {
      // align-items: center;
      flex-direction: column-reverse;
    }
  }
}
