---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon';

import contactImage from '@images/handshake-1-tinted-removebg-preview-cropped.png';
---

<section id="contact" class="[ contact ] [ full-width section bg-lightest ]" >
	<div
		class="even-columns"
		style="
      --row-gap: var(--space-xl);
      --column-gap: var(--space-xxl);"
	>
		<div>
			<div data-aos="fade-up">
				<h2 class="caption">Contact</h2>
				<p class="heading-2">Interested in chatting?&nbsp;👇</p>
			</div>
			<div class="[ contact__info ] [ mt-lg ]" data-aos="fade-up-right" data-aos-delay="100" >
				<div>
					<Icon name="mail-icon" width="32" />
					<div>
						<h3 class="fs-500 clr-dark">Mail</h3>
						<a href="mailto:ivan.joel.rodrigues@gmail.com" class="clr-primary"
							>ivan.joel.rodrigues@gmail.com</a
						>
					</div>
				</div>
				<div>
					<Icon name="location-icon" width="32" />
					<div>
						<h3 class="fs-500 clr-dark">Location</h3>
						<p>Brussels, Belgium</p>
					</div>
				</div>
			</div>
		</div>
		<Image src={contactImage} alt="" class="image-center" data-aos="fade-left" data-aos-offset="350" data-aos-duration="1500" />
	</div>
</section>

<style lang="scss">
	@use '@styles/abstracts' as *;

	.contact {
		position: relative;
		z-index: 1;
	}

	.contact__info {
		display: grid;
		grid-column-gap: var(--space-xxl);
		grid-row-gap: var(--space-lg);
		grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
		grid-template-rows: auto 1fr;

		> * {
			grid-row: span 2;
			display: grid;
			grid-template-rows: subgrid;
			grid-row-gap: var(--space-xs);
		}

		& svg {
			align-self: end;
		}

		// @media (width <= $breakpoint-medium) {
		//   grid-template-columns: 1fr;
		//   grid-auto-flow: column;
		// }
	}
</style>
